body {
    font-family: 'Raleway', sans-serif;
    background: #303030;
    color: #FFF;
}

header {
    background:#4A4A4A;
}

header ul {
    width:35vw;
    margin: 0 auto;
}

header ul li {
    text-align: center;
    padding-top: 20px;
}

header ul li>span {
    font-size: 32px;
    font-weight: 800;
}

header ul li input {
    width: 200px;
    background:#4A4A4A;
    color:#FFF;
    font-size: 32px;
    font-weight: 800;
    border:0;
    border-bottom:2px solid #AFAFAF;
    outline:none;
}

button {
    width: 120px;
    height: 40px;
    box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    -o-box-shadow: 1px 1px 3px #000;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#000, Direction=134, Strength=3);
    border: 0;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    margin: 10px;
    outline: none;
}

#convert_button {
    background: #709643;
}

#reset_button {
    background: #B0300D;
}

header ul li p {
    margin-top: 20px;
    font-weight: 800;
}

header ul li:last-child {
    padding-bottom:20px;
}

header h1 a{
    color:#FFF;
    font-size: 48px;
    font-weight: 800;
    text-decoration: none;
}

section {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.form {
    margin: 20px 0 0 20px;
    width:12.5%;
    height:150px;
    box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    -o-box-shadow: 1px 1px 3px #000;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#000, Direction=134, Strength=3);
}

/**** FOOTER ****/
footer {
    height: 64px;
    width: 100%;
    background: #4A4A4A;
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 64px;
    text-align: center;
}

footer small {
    font-weight: 800;
}

footer button {
    position: absolute;
    right: 32px;
    top: 3px;
    background: #3B4357;
}